    <!-- ==================== Start clients Brands ==================== -->

    <section class="clients section-padding sub-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 valign">
                    <div class="sec-head custom-font mb-0">
                        <h6>Clients</h6>
                        <h3>Nos <br> Clients.</h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <div class="row bord">
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{{asset('assets/img/clients/brands/01.png')}}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".6s">
                                    <div class="img">
                                        <img src="{{asset('assets/img/clients/brands/02.png')}}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".8s">
                                    <div class="img">
                                        <img src="{{asset('assets/img/clients/brands/03.png')}}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{{asset('assets/img/clients/brands/04.png')}}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".4s">
                                    <div class="img">
                                        <img src="{{asset('assets/img/clients/brands/05.png')}}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".7s">
                                    <div class="img">
                                        <img src="{{asset('assets/img/clients/brands/06.png')}}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".5s">
                                    <div class="img">
                                        <img src="{{asset('assets/img/clients/brands/07.png')}}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{{asset('assets/img/clients/brands/08.png')}}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End clients Brands ==================== -->