 <!-- ==================== Start Footer ==================== -->

    <footer class="footer-half sub-bg section-padding pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="cont">
                        <div class="logo">
                            <a href="{{path('Capsules Digital')}}">
                                <img class="imglog" src="{{asset('assets/img/capsules-blanc.png')}}" alt="">
                            </a>
                        </div>
                        <div class="con-info custom-font">
                            <ul>
                                <li><span>Email : </span> Avo_support@website.com</li>
                                <li><span>Address : </span> A32 , Ave 15th Street, Door 211, San Franciso, USA
                                    32490.
                                </li>
                                <li><span>Phone : </span> (+1) 2345 678 44 88</li>
                            </ul>
                        </div>
                        <div class="social-icon">
                            <h6 class="custom-font stit simple-btn">Follow Us</h6>
                            <div class="social">
                                <a href="#0" class="icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#0" class="icon">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <div class="subscribe mb-50">
                        <h6 class="custom-font stit simple-btn">Newslatter</h6>
                        <p>Sign up for subscribe out newsletter!</p>
                        <form>
                            <div class="form-group custom-font">
                                <input type="email" name="subscribe" placeholder="Your Email">
                                <button class="cursor-pointer">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <div class="insta">
                        <h6 class="custom-font stit simple-btn">Instagram Post</h6>
                        <div class="insta-gallary">
                            <a href="#0">
                                <img src="{{asset('assets/img/insta/1.jpg')}}" alt="">
                            </a>
                            <a href="#0">
                                <img src="{{asset('assets/img/insta/2.jpg')}}" alt="">
                            </a>
                            <a href="#0">
                                <img src="{{asset('assets/img/insta/3.jpg')}}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyrights text-center">
                <p>© 2020, Avo Template. Made with passion by <a href="#0">UI-ThemeZ</a>.</p>
            </div>
        </div>
    </footer>

    <!-- ==================== End Footer ==================== -->
