  <!-- ==================== Start works ==================== -->

    <section class="portfolio section-padding pb-70">
        <div class="container">
            <div class="sec-head custom-font">
                <h6>Portfolio</h6>
                <h3>Our Works.</h3>
                <span class="tbg text-right">Portfolio</span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">

                <!-- filter links -->
                <div class="filtering text-center col-12">
                    <div class="filter">
                        <span data-filter='*' class="active">All</span>
                        <span data-filter='.brand'>Branding</span>
                        <span data-filter='.web'>Mobile App</span>
                        <span data-filter='.graphic'>Creative</span>
                    </div>
                </div>

                <!-- gallery -->
                <div class="gallery full-width">

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items graphic wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{{asset('assets/img/portfolio/mas/01.jpg')}}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Creativity Demand</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items web lg-mr wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{{asset('assets/img/portfolio/mas/02.jpg')}}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Through The Breaking</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items brand wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{{asset('assets/img/portfolio/mas/03.jpg')}}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Create With Creatives</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items graphic wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{{asset('assets/img/portfolio/mas/04.jpg')}}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Energies of Love</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items web wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{{asset('assets/img/portfolio/mas/05.jpg')}}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>See It Yourself</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items brand wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{{asset('assets/img/portfolio/mas/06.jpg')}}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Blast From The Past</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End works ==================== -->